body{
    background: rgb(231, 231, 231);
}
#homeimg{
    width: 50px;
    border-radius: 25px;
}
#homename{
    display: inline;
    color: rgb(132, 112, 0);
}
#homeNavbar{
    text-align: right;
    
}